:root {
    color-scheme: only light;
    --max-width: 1100px;
    --left-panel-width: 37.5rem;

    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --font-weight-bold: 700;

    --font-small: 1.1rem;
    --font-caption: 1.2rem;
    --font-body-1: 1.4rem;
    --font-m: 1.5rem;
    --font-body-2: 1.6rem;
    --font-body-3: 1.7rem;
    --font-subheadline: 1.8rem;
    --font-h1: 2rem;
    --font-h2: 2.4rem;
    --font-h3: 2.8rem;
    --font-h4: 3.4rem;

    --color-blue: #5093F8;
    --color-violet: #6F48ED;
    --color-primary: #573CFF;
    --color-primary-hovered: rgba(64, 60, 255, 1);
    --color-primary-active: rgba(70, 122, 255, 1);
    --color-secondary: #33CC55;
    --color-secondary-mango: #FF7E47;
    --color-secondary-yellow: #F4B63C;

    --color-secondary-red: #F33E3E;
    --color-secondary-coral: #FCCCCC;
    --color-secondary-coral-light: #FEF0F0;

    --color-dark: #292838;
    --color-dark-50: #94949C;
    --color-dark-30: #BFBFC4;
    --color-dark-7: #6A6974;
    --color-dark-100: #292838;

    --color-white-30: rgba(255, 255, 255, .3);
    --color-white-50: rgba(255, 255, 255, .5);
    --color-white-70: rgba(255, 255, 255, .7);
    --color-white-hover: rgba(234, 234, 236, 1);
    --color-grey-hover: rgba(84, 83, 96, 1);
    --color-dark-70: rgba(41, 40, 56, .7);
    --color-dark-80: rgba(41, 40, 56, .8);
    --color-dark-90: rgba(41, 40, 56, .9);
    --color-dark-10: rgba(41, 40, 56, .1);
    --color-dark-03: rgba(41, 40, 56, .3);
    --color-dark-05: #F4F4F5;
    --color-dark-hovered: rgba(41, 40, 56, 1);
    --color-white: #fff;
    --color-black: #000;
    --surfaces-base: rgba(238, 239, 245, 1);
    --surfaces-lowered: #DBDCE3;
    --plane-panel-bg: #25262BCC;

    --banner-bg:#EFECFF;
    --banner-border-color: #D4D4D7;

    --info-box-container-shadow: 0 1.5rem 3rem 0 rgba(54, 55, 66, 0.16);
    --left-panel-shadow: 0 -.4rem 2.4rem 0 rgba(18, 17, 21, 0.16);
    --drawer-shadow: 0 -3.8399999141693115px 23.03999900817871px 0 #12111529;
    --button-hover-shadow: 0 4px 24px 0 #12111529;

    --input-height: 4rem;
    --button-height: 4rem;

    --desktop-header-height: 6.4rem;
    --mobile-header-height: 5.6rem;
    --banner-height: 56px;
    --option-list-index: 3;
    --map-z-index: 0;
    --airport-container-z-index: 4;
    --header-z-index: 2;
    --show-all-z-index: 2;
    --mobile-search-z-index: 3;
    --desktop-search-z-index: 3;
}
