.banner {
  display: flex;
  position: absolute;
  bottom: 24px;
  right: 24px;
  background: white;
  padding: 12px;
  border-radius: 12px;
  gap: 8px;

  @media (min-width: $mobile-breakpoint) {
    position: fixed;
  }
}
.link {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 28px;
}
@media (max-width: $mobile-breakpoint) {
  .banner {
    display: none;
  }
}
