.showAll {
    padding: 1rem 2.5rem;
    margin: 1.5rem;
    z-index: var(--show-all-z-index);

    border: none;
    border-radius: 4.2rem;
    background: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    font-size: var(--font-body-2);
    cursor: pointer;
}
