.input {
    color: var(--color-dark-50);
    background: var(--color-dark-05);
    min-height: var(--input-height);
    border-radius: 7.2rem;
    margin: 15px 25px 0 25px;
    padding: 10px 15px;
    border: none;
    font-size: 1.4rem;
}
