.input {
  font-size: var(--font-body-1);
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.4399999976158142px;
  color: var(--color-dark);
  padding: 1.2rem 3.8rem 1.2rem 1.2rem;
  border-radius: 12px;
  outline: none;
  width: 100%;
  caret-color:var(--color-primary);
  border: thin solid transparent;
}
.input::placeholder {
  color: var(--color-dark-50);
  opacity: 1;
}
.input:active,.input:focus {
  border: thin solid var(--color-primary);
  outline: none;
}
.row {
  margin-bottom: .8rem;
  position: relative;
}
.eyeButton {
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  margin: 0;
  padding: 0;
  top: 10px;
  background: transparent;
}
.hidden svg path {
  fill: white;
}
.label {
  font-size: var(--font-caption);
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.11999999731779099px;
  text-align: left;
  color: var(--color-dark-70);
  margin-left: 1.2rem;
  margin-bottom: .6rem;
  display: block;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

/* Tablet and Smaller Desktop */
@media (max-width: $mobile-breakpoint) {
  .form {
    margin-top: 4.8rem;
  }
}