.body {
  padding: 0.8rem 0 1.4rem;
}

.heading {
  font-size: var(--font-body-2);
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.44px;
  color: var(--color-dark-100);
  text-align: center;
  padding: 0.6rem 0 0.45rem;
  margin-bottom: 2rem;
}