@value timeBlockSize from "../flightCard.module.scss";

.timeInfo {
    text-align: right;
    align-self: flex-start;
    width: timeBlockSize;
}
.onTime {
    font-weight: 500;
    font-size: var(--font-h1);
    color: var(--color-secondary);
    margin-bottom: .5rem;
}
.text {
    font-size: var(--font-caption);
    margin-bottom: 0.5rem;
}
.crossed {
    color: var(--color-dark-50);
    font-size: var(--font-caption);
    text-decoration: line-through;
    font-weight: 400;
}
.noDate {
    color: var(--color-dark-50);
    font-size: var(--font-h1);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.3799999952316284px;
    text-align: right;
}
.noDateContainer {
    width: 5.4rem;
    margin-left: auto;
    font-size: var(--font-caption);
    align-self: flex-start;
}

:global(.bottomBlock) .timeInfo {
    margin-top: -28px; /*23px city title and 5px bottom margin*/
}
