.timeInfo {
    text-align: right;
    align-self: flex-start;
    min-width: 8rem;
}
.onTime {
    font-weight: 500;
    font-size: var(--font-h1);
    color: var(--color-secondary);
    margin-bottom: .5rem;
}
.text {
    font-size: var(--font-caption);
    margin-bottom: 0.5rem;
}
.crossed {
    color: var(--color-dark-50);
    text-decoration: line-through;
}
