@platforms-web:registry=https://git.herewetest.com/api/v4/packages/npm/
//git.herewetest.com/api/v4/packages/npm/:_authToken=2AzN7aVe1n-L7aftv17m
//git.herewetest.com/api/v4/projects/:_authToken=2AzN7aVe1n-L7aftv17m
