.container {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 39rem;
    z-index: var(--airport-container-z-index);
    box-shadow: var(--left-panel-shadow);
    background: var(--surfaces-base);
}
.layout {
    height: calc(100vh - var(--desktop-header-height));
    overflow: auto;
}
