.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: var(--info-box-container-shadow);
    background: var(--color-white);
    position: relative;
    border-radius: 1.6rem;
    padding: 1.6rem;
    height: 23rem;
}
.container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url(./../../../src/assets/img/card_frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.container > button {
    z-index: 1;
}
.label {
    display: flex;
    margin-top: 3rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}
.label p {
    margin-left: .5rem;
    color: var(--color-dark-50);
    font-size: var(--font-caption);
}
