/* Mobile */
@media (min-width: 701px) {
    .footerContainer {
        display: none;
    }
    .container {
        height: 100vh;
        /*overflow: auto;*/
        position: absolute;
        left:0;
        top: 0;
        width: 37rem;
        z-index: var(--airport-container-z-index);
    }
}
.container {
    box-shadow: 0 -.4rem 2.4rem 0 rgba(18, 17, 21, 0.16);
}
