.container {
    background: var(--surfaces-base);
    padding: 0 1.5rem 4rem 1.5rem;
}
.title {
    margin: 0 0 4rem 0;
    font-size: var(--font-h3);
}

/* Desktop */
@media (min-width: $mobile-breakpoint) {
    .container {
        width: var(--left-panel-width);
        height: calc(100vh - var(--desktop-header-height));
        overflow: auto;
        padding-top: 2.4rem;
    }
}

