.container {
    display: flex;
    flex: 1;
    background:var(--color-dark-05);
    padding: 1.2rem;
    border-radius: .8rem;
    flex-direction: column;
}
.label {
    font-size: var(--font-caption);
    font-weight: 400;
    color: var(--color-dark-70);
    text-transform: uppercase;
}
.value {
    display: flex;
    align-items: center;
    margin-top: .4rem;
    font-size: var(--font-body-2);
    font-weight: 600;
}
.valueTitle {
    margin-right: .8rem;
}
.cancel {
    border: 1px solid var(--color-secondary-coral);
    background: var(--color-secondary-coral-light);
}
.cancelLabel {
    font-size: var(--font-small);
}
.cancelText {
    font-size: var(--font-m);
    font-weight: 600;
    margin-bottom: .8rem;
}
.cancelUpdates {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
.wrapper {
    display: flex;
    color: var(--color-secondary-red);
}
.svg {
    margin-right: 1.2rem;
    margin-top: .7rem;
}
