.date {
    font-size: var(--font-subheadline);
    font-weight: 450;
}
.changeLabel {
    color: var(--color-primary);
    font-size: 1.3rem;
    font-weight: 500;
}
.label {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.label button {
    font-weight: 450;
}
