.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: thin solid var(--color-dark-10);
    width: 100%;
}
.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 0 2rem;
    color: var(--color-primary);
    font-weight: 600;
    font-size: var(--font-body-2);
    text-align: left;
}
.timeLg {
    width: 6rem;
    font-size: var(--font-body-2);
}
.timeSm {
    font-size: var(--font-caption);
    color: var(--color-dark-50);
    font-weight: 400;
    text-decoration: line-through;
    margin-top: .4rem;
}
.cityIata {
    font-size: var(--font-caption);
    color: var(--color-dark-50);
    font-weight: 400;
    text-align: right;
}
.city {
    font-size: var(--font-body-1);
    margin-bottom: .4rem;
}
.container:last-of-type {
    border: none;
}
.timeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
