.input {
    color: var(--color-dark-50);
    background: var(--color-dark-05);
    min-height: var(--input-height);
    border-radius: 7.2rem;
    margin: 1.5rem 2.5rem 0 2.5rem;
    padding: 1rem 1.5rem;
    border: none;
    font-size: var(--font-body-1);
}
/* Tablet and Smaller Desktop */
@media (min-width: $mobile-breakpoint) {
    .input {
        width: 59rem;
        margin: 2rem auto 0 auto;
    }
}
