.main {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}
.primaryText {
  color: var(--color-primary);
  margin-left: .5rem;
}
.searchWrapper {
  margin-top: 16rem;
  font-weight: 700;
  font-size: 3.4rem;
  padding: 0 2.5rem;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

