@value primaryText from "../common.css";
@value buttonContainer from "../common.css";
@import 'src/app/styles/variables';

.header {
    font-size: var(--font-h3);
    font-weight: 700;
    line-height: 3.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.container {
    margin: 0;
    background-image: url("/image_globe.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 6.5rem 2.5rem 0 2.5rem;
    text-align: center;
}
.text {
    font-size: var(--font-body-2);
    font-weight: 400;
    margin-bottom: 5.4rem;
    text-align: center;
}

/* Tablet and Smaller Desktop */
@media (min-width: $mobile-breakpoint) {
    :global(.landingBanners:not(.applyMobile)) {
        .container {
            width: 59rem;
            margin-left: auto;
            margin-right: auto;
            padding-top: 16.5rem;
            margin-top: 4rem;
            background-image: url("/globe_desk.png");
        }

        .text, .header {
            text-align: center;
        }
        .header {
            font-size: var(--font-h4);
        }
        .text {
            font-size: var(--font-subheadline);
            margin-bottom: 5.9rem;
        }
    }
}
