@value primaryText from "../common.css";
@value buttonContainer from "../common.css";

.header {
    font-size: var(--font-h3);
    font-weight: 700;
    line-height: 3.3rem;
    margin-bottom: 1.5rem;
    text-align: left;
}
.container {
    margin: 0;
    background-image: url(../../../../assets/img/Image_Globe.png);
    background-size: 100% auto;
    padding: 6.5rem 2.5rem 0 2.5rem;
    text-align: center;
}
.text {
    font-size: var(--font-body-2);
    font-weight: 400;
    margin-bottom: 5.5rem;
    text-align: left;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
    .container {
        width: 59rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 16.5rem;
        margin-top: 4rem;
    }
    .text, .header {
        text-align: center;
    }
}
