@value desktopHeaderSize: 69px;
@value headerSize: 49px;
@value footerSize: 27px;

.successContainer {
  display: flex;
  align-items: center;
  height: calc(100vh - desktopHeaderSize - footerSize);
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    .img {
      margin-bottom: 1rem;
    }
    h1 {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}
.text {
  font-size: var(--font-body-2);
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  margin-top: 1.2rem;
}
/* Tablet and Smaller Desktop */
@media (max-width: $mobile-breakpoint) {
  .successContainer {
    height: calc(100vh - headerSize - footerSize);
  }
}