@value topHeight: calc(100svh - var(--mobile-header-height));
@value middleHeight: calc(100svh - var(--mobile-header-height) - 2.4rem);
@value previewSpace: 1.6rem;
@value previewHeight: 6rem;
@value bottomHeight: 14rem;
@value drawerRadius: 15px 15px 0 0;

@keyframes opacityAnimation {
    0%   { opacity: 0.0; }
    50%  { opacity:0.0; }
    100% { opacity:1.0; }
}
/* Mobile */
@media (max-width: $mobile-breakpoint) {
    .drawer :global(.preview) {
        visibility: hidden;
        opacity: 0;
    }
    .gripWrapper {
        display: flex;
        justify-content: center;
        height: 20px;
        align-items: center;
    }
    .drawer {
        z-index: var(--header-z-index);
        background: var(--surfaces-base);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        box-shadow: var(--drawer-shadow);
        border-radius: drawerRadius;
        transition: height 400ms;
        overflow: auto;
    }
    .middle {
        height: middleHeight;
    }
    .top {
        height: topHeight;
        border-radius: 0;
    }
    .bottom {
        height: bottomHeight;
    }
    .bottom :global(.preview) {
        visibility: visible;
        opacity: 1;
        animation: opacityAnimation 1.5s forwards;
    }
}

/* Desktop */
@media (min-width: $mobile-breakpoint) {
    .gripWrapper {
        display: none;
    }
}
