@value topHeight: calc(100vh - var(--mobile-header-height));
@value middleHeight: calc(100vh - var(--mobile-header-height) - 2.4rem);
@value bottomHeight: calc(100vh - var(--mobile-header-height) - 50rem - 6.4rem - 1.6rem);
@value drawerRadius: 15px 15px 0 0;

/* Mobile */
@media (max-width: $mobile-breakpoint) {
    .gripWrapper {
        display: flex;
        justify-content: center;
        height: 20px;
        align-items: center;
    }
    .drawer {
        z-index: var(--header-z-index);
        background: var(--surfaces-base);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        box-shadow: var(--drawer-shadow);
        border-radius: drawerRadius;
        transition: height 400ms;
        overflow: auto;
    }
    .middle {
        height: middleHeight;
    }
    .top {
        height: topHeight;
        border-radius: 0;
    }
    .bottom {
        height: bottomHeight;
    }
}

/* Desktop */
@media (min-width: $mobile-breakpoint) {
    .gripWrapper {
        display: none;
    }
}
