.wrapper {
  background: var(--surfaces-base);

  header {
    background: var(--surfaces-base);

    div:nth-of-type(2) {
      display: none;
    }
  }
}

.main {
  font-size: var(--font-body-1);
  color: var(--color-black);
  max-width: 954px;
  margin: 0 auto;
  padding: 4rem 1rem 0;

  a {
    text-decoration: underline;
    color: var(--color-black);

    &:hover {
      text-decoration: none;
      color: var(--color-black);
    }
  }

  h4 {
    font-size: var(--font-subheadline);
    padding: 2.4rem 0 1rem;
    text-transform: uppercase;
  }

  p {
    padding-bottom: 2rem;
  }

  ul {
    padding-left: 1.6rem;
  }

}

.content {
  padding: 2.5rem 0;
}

.menu {

  a {
    display: block;
  }
}

.indent {
  padding-left: 1rem;
}

.doubleindent {
  padding-left: 2rem;
}
