@value notificationWidth: 24rem;
@value notificationMargin: .8rem;
@value notificationCount: 4;

.row {
    padding: 1.2rem;
    display: flex;
}
.rowTop {
    padding: 1.2rem;
    display: flex;
    transform: translateX(-50px);
}
.rowBottom {
    padding: 1.2rem;
    display: flex;
    transform: translateX(-150px);
}
.container {
    padding-bottom: 6rem;
}
/* Tablet and Smaller Desktop */
@media (min-width: $mobile-breakpoint) {
    .rowBottom {
        animation: none;
        margin: 0 auto;
        min-width: auto;
        justify-content: center;
        width: auto;
        transform: none;
        display: flex;
    }
    .rowBottom div:nth-child(n+5) {
        display: none;
        margin: 0 auto;
    }
    .rowBottom div {
        min-width: auto;
    }
    .rowTop {
        animation: none;
        margin: 0 auto;
        min-width: auto;
        width: auto;
        transform: none;
        display: flex;
        justify-content: center;
    }
    .rowTop div {
        min-width: auto;
    }
    .rowTop div:nth-child(n+5) {
        display: none;
    }
    .container {
        padding-bottom: 6rem;
    }
}
