@value notificationWidth: 24rem;
@value notificationMargin: .8rem;
@value notificationCount: 4;
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc((-1 * (notificationWidth + notificationMargin) * notificationCount) / 2))}
}
@keyframes scroll_reverse {
    0% { transform: translateX(calc((-1 * (notificationWidth + notificationMargin) * notificationCount) / 2))}
    100% { transform: translateX(0); }
}
.row {
    padding: 1.2rem;
    display: flex;
}
.rowTop {
    padding: 1.2rem;
    display: flex;
    animation: scroll 12s linear infinite;
    width: calc((notificationWidth + notificationMargin) * notificationCount);
}
.rowBottom {
    padding: 1.2rem;
    display: flex;
    animation: scroll_reverse 20s linear infinite;
    width: calc((notificationWidth + notificationMargin) * notificationCount);
}
.container {
    padding-bottom: 4rem;
}
