.primaryText {
    composes: primaryText from "./common.css";
    margin-left: .5rem;
}
.container {
    composes: container from "./common.css";
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-dark);
}
.title {
    margin-bottom: 2rem;
}
