@value containerShadow: 0 1.5rem 3rem 0 rgba(54, 55, 66, 0.16);

.container {
    box-shadow: containerShadow;
    background: var(--color-white);
    border-radius: 1.6rem;
}

.phone {
    display: flex;
    color: var(--color-primary);
    align-items: center;
    border-bottom: thin solid var(--color-dark-10);
    padding: .8rem 1.2rem;
}
.phone p {
    margin-left: .5rem;
}
.name {
    display: flex;
    align-items: center;
    padding: .8rem 1.2rem;
    border-bottom: thin solid var(--color-dark-10);
}
.name p{
    margin-left: 1.5rem;
}

.date {
    display: flex;
    justify-content: space-between;
    padding: .8rem 1.2rem;
    color: var(--color-dark-50);
}
