.footer {
    background: var(--color-dark);
    color: var(--color-white);
    padding: 0 2rem;
}
.logo {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
}
.label {
    font-weight: 700;
    font-size: 2rem;
    margin-left: .5rem;
}
.blocks {
    font-size: 14px;
    font-weight: 400;
    line-height: 2.3rem;
}
.copyright {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 2rem 0;
}
.privacy {
    padding-bottom: 1rem;
}
