.footer {
    background: var(--color-dark);
    color: var(--color-white);
    padding: 0 2rem 1rem 2rem;
}
.logo {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.label {
    font-weight: 700;
    font-size: 2rem;
    margin-left: .5rem;
}
.blocks {
    font-size: var(--font-body-1);
    font-weight: 400;
}
.blocks p, .blocks a {
    margin-bottom: 1.2rem;
}
.copyright {
    font-size: var(--font-caption);
    font-weight: 400;
    margin: 2rem 0;
    color: var(--color-white-30);
}
.privacy {
    /*padding-bottom: 1rem;*/
    color: var(--color-white-70);
    text-decoration: none;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
    .footer {
        text-align: center;
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
    .logo {
        justify-content: center;
        margin-bottom: 2rem;
    }
    .blocks {
        display: flex;
        justify-content: center;
    }
    .blocks p,.blocks a {
        margin: 0 4.4rem 0 0 ;
    }
}
.support {
    text-decoration: none;
    font-size: var(--font-body-1);
    font-weight: 400;
    color: var(--color-white);
    display: inline-block;
}
