@value previewHeight, previewSpace, bottomHeight, bottomBannerSpace, bottom from "./../Swipe.module.scss";
@value desktopPreviewWidth: 34.3rem;

.planePanel {
  position: absolute;
  left: 50%;
  bottom: calc(bottomHeight + previewSpace);
  height: previewHeight;
  display: flex;
  background: var(--plane-panel-bg);
  border-radius: 1.2rem;
  width: calc(100vw - (previewSpace * 2));
  transform: translate(-50%, 0);
  /* Desktop */
  @media (min-width: $mobile-breakpoint) {
    position: fixed;
    left: calc((100% + var(--left-panel-width)) / 2);
    bottom: 2.4rem;
    width: desktopPreviewWidth;
    transform: translate(-50%, 0);
  }
  @media (min-width: $mobile-breakpoint) and (max-width: $lg-breakpoint) {
    bottom: 10rem;
  }
}
/* Mobile */
@media (max-width: $mobile-breakpoint) {
  :global(.smartbanner-show) .planePanel {
    bottom: calc(bottomHeight + previewSpace - var(--banner-height) + bottomBannerSpace);
  }
}

.image {
  width: 10rem;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.6rem 1.2rem;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.distance {
  font-size: var(--font-x-small);
  color: var(--color-white-50);
}
.iata {
  font-size: var(--font-m);
  color: var(--color-white);
  width: 7rem;
}
.time {
  font-size: var(--font-x-small);
  width: 7rem;
}
.time:last-of-type {
  text-align: right;
}
.iata:last-of-type {
  text-align: right;
}
.img {
  border-radius: 1.2rem;
}
