@keyframes animation{
    0%{background-position: 0 0;}
    100%{background-position: 100vw 0;}
}
@keyframes animation_reverse{
    0%{background-position: 0 0;}
    100%{background-position: -100vw 0;}
}

.img1 {
    margin-top: 80px;
    background-image: url(./../../../src/assets/img/band_1.png);
    height: 10rem;
    animation: animation 20s linear infinite;
    will-change: background-position;
    margin-bottom: 8px;
}
.img2 {
    background-image: url(./../../../src/assets/img/band_2.png);
    height: 10rem;
    animation: animation_reverse 20s linear infinite ;
    will-change: background-position;
}

.wrapper {
    position: relative;
    height: 485px;
}

.iphone {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}
