@keyframes animation{
    0%{background-position: 0 0;}
    100%{background-position: 100vw 0;}
}
@keyframes animation_reverse{
    0%{background-position: 0 0;}
    100%{background-position: -100vw 0;}
}

.img1 {
    margin-top: 8rem;
    background-image: url("/band_1.png");
    height: 10rem;
    animation: animation 40s linear infinite;
    will-change: background-position;
    margin-bottom: .8rem;
}
.img2 {
    height: 10rem;
    animation: animation_reverse 40s linear infinite ;
    will-change: background-position;
}

.img2 {
    background-image: url("/band_2.png");
}

.wrapper {
    position: relative;
    height: 46.5rem;
}

.iphone {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, 0);
}

/*noinspection CssInvalidPropertyValue*/
@media (min-width: $mobile-breakpoint) {
    .iphone {
        top: 5.5rem;
    }
    .img1 {
        margin-top: 9.5rem;
    }
    .wrapper {
        width: 100%;
        margin: 0 auto;
        -webkit-mask-image: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 11.35%,
        #FFFFFF 35.74%,
        #FFFFFF 64.17%, rgba(255, 255, 255, 0) 89%);
    }
}
